<div class="example-container">
    <mat-toolbar color="primary">
        <!-- <mat-toolbar-row>
          <span>Custom Toolbar</span>
        </mat-toolbar-row> -->
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
          <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>
        <h1 class="example-app-name">Hospital</h1>
        <span class="example-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/perfil">
              <mat-icon>account_box</mat-icon>
              <span>Mi perfil</span>
            </button>
            <button mat-menu-item (click)="sidenav.opened = false">
              <mat-icon>exit_to_app</mat-icon>
              <span>Cerrar Sesión</span>
            </button>
            <!-- <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button> -->
          </mat-menu>
      </mat-toolbar>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav style="width: 500px">
      <img src="assets/logo.png" alt="" style="margin-left: 20px; display: block" >

      <!-- <mat-sidenav-content>
    </mat-sidenav-content> -->
      <button mat-menu-item style="cursor:pointer" (click)="sidenav.toggle()" routerLink="buscar">
        <mat-icon>search</mat-icon>
        <span>Buscar</span>
      </button>
      <!-- <mat-divider></mat-divider> -->
      <mat-divider></mat-divider>
      <button mat-menu-item style="cursor:pointer" (click)="sidenav.toggle()" routerLink="medico">
        <mat-icon>work</mat-icon>
        <span>Medico</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item style="cursor:pointer" (click)="sidenav.toggle()" routerLink="paciente">
          <mat-icon>supervised_user_circle</mat-icon>
          <span>Paciente</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item style="cursor:pointer" (click)="sidenav.toggle()" routerLink="especialidad">
          <mat-icon>folder</mat-icon>
          <span>Especialidad</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item style="cursor: pointer" (click)="sidenav.toggle()" routerLink="examen" >
        <mat-icon>folder_shared</mat-icon>
        <span>Examen</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
