<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1> -->
<div mat-dialog-content>
  <!-- <p>What's your favorite animal?</p> -->
  <div>{{medico|json}}</div>
  <mat-form-field>
    <input matInput [(ngModel)]="medico.nombres" placeholder="Nombres">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="medico.apellidos" placeholder="Apellidos">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="medico.cmp" placeholder="CMP">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="operar()">Aceptar</button>
  <button mat-button  (click)="cancelar()">Cancelar</button>
</div>
